.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: #141EC5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar span {
  font-size: 20px;
}

/* .Toolbar i {
  font-size: 25px;
  cursor: pointer;
} */

.Toolbar nav {
    height: 100%;
}

.Toolbar-Logo {
    width: 125px;
}

.Toolbar-Logo img {
  height: 100%;
  width: 100%;
}

@media (max-width: 699px) {
    .Toolbar {
        display: none;
    }
}
